body, textarea {
  font-family:arial;
  font-size: 14px;
}

h1 {
  font-size:30px;
  color:#F7997F;
  margin-top:-10px;
}

h2 {
  margin-bottom:-10px;
  color:#6CB2E5;
}

section {
  padding:10px;
}

input, textarea {
  width:400px;
}

input[type="button"] {
  background-color: #68A48B;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.box {
  width:600px;
  text-align: center;
  background: #D9E6EF;
  border-radius: 5px;
  padding:50px;
  margin:auto;
}

.breadcrumbs {
  text-align: left;
}
.breadcrumbs a {
  text-decoration: none;
  padding: 5px;
}
#current {
  color: #F7997F;
}

::placeholder {
  font-size:14px;
}
