.askbtn{
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 180px;
}

.qa_column button{
	padding: 2px 20px;
  width: 380px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display:block;
  word-wrap: break-word;
}

.titlebox{
	background-color: blue;
}

.breadcrumbs{
  text-align: left;
}
h1{
	color:white;
}
#current{
  color: red;
}
#ruler {
  visibility: hidden;
  white-space: nowrap;
}
